.btn{
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;   
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.btn:hover{
    color: #ffbb33;
}