.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form_control label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form_control input {
  padding: 10px;
  border: none;
  border-radius: 0px;
}

.form_control input::placeholder {
  color: #7b7b7b;
}
